@import 'variables';
@import 'reset';

body {
    background-color: $light-grey;
    margin: 0 auto;
    color: $dark;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    font-family: $font-text;
    transition: 0.3s;
}

a {
    text-decoration: none;
}

button {
    background-color: $blue;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 9px;
    text-decoration: none;
    padding: 0;
    margin: 24px 3px;
    height: 40px;
    width: 96px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $button-hover;
    }
}

header {
    z-index: 1;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 1;
    background-color: $white;
    box-shadow: $shadow;
    transition: all 0.3s ease-in-out;
}

header h1 {
    color: $dark;
    font-family: 'Gruppo';
    position: relative;
    margin: auto 54px;
}

header button {
    background-color: $grey;
    border: solid 4px $white;
    border-radius: 50px;
    cursor: pointer;
    height: 25px;
    width: 40px;
    outline-width: 5px;
    position: relative;
    margin: auto 54px;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $grey;
    }
}

.icon {
    background-color: $white;
    border-radius: 100%;
    display: block;
    height: 10px;
    margin: 0 4px;
    position: relative;
    width: 10px;
    transition: all 0.3s ease-in-out;
}

.container {
    display: flex;
}

aside {
    z-index: 1;
    // width: 42px;
    height: 100%;
    position: fixed;
    margin: 120px auto 0 0;
    border-radius: 5px;
    box-shadow: $shadow;
    // display: flex;
    flex-direction: column;
    background-color: $white;
    transition: 0.3s ease;
    &:hover {
        box-shadow: $shadow-hover;
        transform: translateY(-2px);
    }
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
        background-color: transparent;
    }
}

.hamburger.open {
    transform: translateX(94px);
}

.line {
    width: 24px;
    height: 2.3px;
    background-color: $grey;
    border-radius: 10%;
    margin-bottom: 4px;
    transition: 0.7s ease;
}

.hamburger.open .line:nth-child(1) {
    transform: translateY(6px) rotate(225deg);
}

.hamburger.open .line:nth-child(2) {
    opacity: 0;
}

.hamburger.open .line:nth-child(3) {
    transform: translateY(-6px) rotate(-585deg);
}

.open {
    width: 240px;
}

.options {
    margin-left: 54px;
}

.options_header {
    display: flex;
    align-items: center;
}

.options_header h1 {
    margin: 0;
}

.options_header i {
    margin: 15px 18px 15px 0;
    font-size: 18px;
}

aside p,
aside a {
    margin-left: 38px;
    color: $grey;
    line-height: 0.1;
    &:hover {
        color: $button-hover;
        cursor: pointer;
    }
}

.on,
aside a {
    color: $blue;
}

.options {
    display: none;
}

.display_options {
    display: block;
    display: flex;
    flex-direction: column;
}

main {
    // max-width: 1302px;
    padding-left: 42px;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.3s;
}

.main_open {
    padding-left: 242px;
}

.tool {
    background-color: $white;
    position: relative;
    margin: 0 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 490px;
    height: min-content;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: 0.3s;
    &:hover {
        box-shadow: $shadow-hover;
        transform: translateY(-2px);
    }
}

textarea,
input {
    background-color: transparent;
    padding: 12px 20px 86px;
    width: 390px;
    border: 2px solid;
    color: $grey;
    border-radius: 4px;
    font-family: $font-text;
    resize: none;
    transition: 0.3s;
}

input {
    padding: 12px 20px 12px;
}

.big textarea {
    width: 900px;
}

textarea::-webkit-scrollbar {
    display: none;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid $blue;
    box-shadow: 0 0 8px $blue;
}

.buttons {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sku_and_copy {
    display: flex;
    flex-wrap: nowrap;
}

.clear {
    position: absolute;
    font-family: 'Gruppo';
    top: 43px;
    right: 66px;
    cursor: pointer;
    font-size: 24px;
    background-color: transparent;
    color: $grey;
    width: 0;
    height: 0;
    &:hover {
        background-color: transparent;
        color: black;
    }
}

.to_big {
    margin: 0;
    background-color: transparent;
    font-family: 'Gruppo';
    color: $grey;
    width: 9px;
    height: 9px;
    font-size: 64px;
    position: absolute;
    top: 17px;
    right: 47px;
    transform: rotate(90deg);
    &:hover {
        background-color: transparent;
    }
}

.close {
    margin: 0;
    background-color: transparent;
    font-family: 'Gruppo';
    color: $grey;
    font-size: 44px;
    position: absolute;
    height: 0;
    width: 9px;
    top: 0px;
    right: 29px;
    &:hover {
        background-color: transparent;
    }
}

.big {
    width: 1000px;
}

// .tool_hide {
//     transform:translateX(-3000px)
// }

.result {
    display: flex;
}

.result p:nth-child(2) {
    position: absolute;
    font-size: 18px;
    right: 50px;
    height: 36px;
    min-width: 36px;
    border: 2px solid $grey;
    border-radius: 4px;
    text-align: center;
    line-height: 32px;
    padding: 0 2px;
}

.no_display {
    display: none;
}

.copy {
    font-size: 16px;
    width: 36px;
}

.no_active {
    background-color: rgba(135, 135, 135, 0.5);
    color: $light-grey;
    cursor: default;
    &:hover {
        background-color: rgb(135, 135, 135, 0.5);
    }
}

.copied {
    color: $grey;
    transform: translateY(3px);
    transition: color 0.3s, transform 0.3s;
}

#result_otrs {
    margin: 14px 54px;
    text-align: justify;
}

footer {
    z-index: 1;
    height: 34px;
    background-color: $dark;
    color: $white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

footer p,
a {
    margin: 0 54px;
}

footer a {
    color: $white;
    margin: 0;
    &:hover {
        color: $pink;
    }
}

//DARK MODE

.dark {
    color: $white;
    background-color: $dark;
}

.dark button {
    background-color: $light-blue;
    color: $dark;
    &:hover {
        background-color: $dark-button-hover;
    }
}

.dark .hamburger {
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}

.dark .line {
    background-color: $white;
}

.dark header {
    background-color: $black;
    z-index: 1;
}

.dark h1 {
    color: $white;
}

.dark header button {
    border: solid 4px $black;
    transition: all 0.3s ease-in-out;
}

.dark .icon {
    background-color: $dark;
    transform: translateX(14px);
}

.dark .tool,
.dark aside {
    background-color: $black;
}

.dark aside p:hover,
.dark aside a:hover {
    color: $dark-button-hover;
}

.dark .on,
.dark aside a {
    color: $light-blue;
}

.dark input,
.dark textarea {
    color: $white;
    background-color: transparent;
}

.dark input:focus,
.dark textarea:focus {
    outline: none;
    border: 2px solid $light-blue;
    box-shadow: 0 0 8px $light-blue;
}

.dark .result p:nth-child(2) {
    border-color: $white;
}

.dark footer {
    background-color: black;
    z-index: 1;
}

.dark .clear,
.dark .close {
    background-color: transparent;
    color: $white;
    &:hover {
        background-color: transparent;
    }
}

.dark .to_big {
    color: $white;
    background-color: transparent;
    &:hover {
        background-color: transparent;
    }
}

.dark .no_active {
    background-color: rgb(135, 135, 135, 0.5);
    cursor: default;
    &:hover {
        background-color: rgb(135, 135, 135, 0.5);
    }
}

.dark .tool a {
    color: $light-blue;
}

/* Ustawienie koloru paska przewijania w poziomie (jeśli występuje) */
::-webkit-scrollbar {
    background-color: black; /* Kolor tła paska przewijania */
}

/* Ustawienie koloru "track", czyli tła paska przewijania */
::-webkit-scrollbar-track {
    background-color: black; /* Kolor tła paska przewijania */
}

/* Ustawienie koloru "thumb", czyli samego "uchwytu" paska przewijania */
::-webkit-scrollbar-thumb {
    background-color: $black; /* Kolor uchwytu paska przewijania */
}
