@import 'variables';
@import 'reset';

body {
    background: $light-grey;
    margin: 0 auto;
    color: $dark;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    font-family: $font-text;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 18px;
}

header {
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 64px;
    z-index: 1;
    background: $white;
    box-shadow: $shadow;
    transition: all 0.3s ease-in-out;
}

header h1 {
    color: $dark;
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    position: relative;
    margin: auto 54px;
}

header button {
    background: $grey;
    border: solid 4px $white;
    border-radius: 50px;
    cursor: pointer;
    height: 25px;
    width: 40px;
    outline-width: 5px;
    position: relative;
    margin: auto 54px;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: $grey;
    }
}

.icon {
    background: $white;
    border-radius: 100%;
    display: block;
    height: 10px;
    margin: 0 4px;
    position: relative;
    width: 10px;
    transition: all 0.3s ease-in-out;
}

main {
    margin: 120px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in-out;
}

.tool {
    background: $white;
    position: relative;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 460px;
    width: 33em;
    height: min-content;
    border-radius: 5px;
    box-shadow: $shadow;
    transition: all 0.3s ease-in-out;
    &:hover {
        box-shadow: $shadow-hover;
        transform: translateY(-3px);
    }
}

textarea,
input {
    background: transparent;
    padding: 12px 20px 86px;
    width: 80%;
    border: 2px solid;
    color: $grey;
    border-radius: 4px;
    font-family: $font-text;
    resize: none;
    transition: all 0.3s ease-in-out;
}

input {
    padding: 12px 20px 12px;
}

textarea::-webkit-scrollbar {
    display: none;
}

input:focus,
textarea:focus {
    outline: none;
    border: 2px solid $blue;
    box-shadow: 0 0 8px $blue;
}

.buttons {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

button {
    background: $blue;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 9px;
    text-decoration: none;
    padding: 0;
    margin: 24px 3px;
    height: 40px;
    width: 96px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: $button-hover;
    }
}

.sku_and_copy {
    display: flex;
    flex-wrap: nowrap;
}

.clear {
    position: absolute;
    top: 48px;
    transform: translateX(171px);
    cursor: pointer;
    font-size: 22px;
    background: transparent;
    color: $grey;
    font-family: 'Gruppo', cursive;
    margin: 5px;
    height: 22px;
    width: 22px;
    &:hover {
        background: transparent;
        color: black;
    }
}

.result {
    display: flex;
}

.result p:nth-child(2)::before {
    content: '';
    display: block;
    position: absolute;
    left: -16px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: $grey;
}

.result p:nth-child(2) {
    position: absolute;
    font-size: 18px;
    transform: translate(140px, 4px);
}

.no_display {
    display: none;
}

.copy {
    font-size: 16px;
    width: 36px;
}

.no_active {
    background: rgba(135, 135, 135, 0.5);
    color: $light-grey;
    cursor: default;
    &:hover {
        background: rgb(135, 135, 135, 0.5);
    }
}

.copied {
    color: $grey;
    transform: translateY(3px);
    transition: color 0.1s, transform 0.1s;
}

a {
    text-decoration: none;
    color: $blue;
}

footer {
    height: 34px;
    background: $dark;
    color: $white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    transition: all 0.3s ease-in-out;
}

footer p,
a {
    margin: 0 54px;
}

footer a {
    color: $white;
    margin: 0;
    &:hover {
        color: $pink;
    }
}

//DARK MODE

.dark {
    color: $white;
    background: $dark;
}

.dark button {
    background: $light-blue;
    color: $dark;
    &:hover {
        background: $dark-button-hover;
    }
}

.dark header {
    background: $black;
    z-index: 1;
}

.dark header h1 {
    color: $white;
}

.dark header button {
    border: solid 4px $black;
    transition: all 0.3s ease-in-out;
}

.dark .icon {
    background: $dark;
    transform: translateX(14px);
}

.dark .tool {
    background: $black;
}

.dark input,
.dark textarea {
    color: $white;
    background: transparent;
}

.dark input:focus,
.dark textarea:focus {
    outline: none;
    border: 2px solid $light-blue;
    box-shadow: 0 0 8px $light-blue;
}

.dark .result p:nth-child(2)::before {
    background-color: $white;
}

.dark footer {
    background: $black;
    z-index: 1;
}

.dark .clear {
    background: transparent;
    color: $grey;
    &:hover {
        background: transparent;
        color: $white;
    }
}

.dark .no_active {
    background: rgb(135, 135, 135, 0.5);
    cursor: default;
    &:hover {
        background: rgb(135, 135, 135, 0.5);
    }
}

.dark .tool a {
    color: $light-blue;
}
