/* Variables */

$color-light: #fff;
$color-dark: rgba(41, 53, 86, 1);

$font-logo: 'Lato', sans-serif;
$font-header: 'Lato', sans-serif;
$font-text: 'Lato', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

h1{
  font-size: 18px;;
}

body {
  font-family: $font-text;
  color: black;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  margin: 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33em;
  height: min-content;
  border-radius: 16px;
  background-color: $color-light;
  box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px 0px, rgb(0 0 0 / 8%) 0px 0px 2px 1px;
}

.links__input {
  font-family: $font-text;
  // padding: 12px 20px 86px ;
  width: 80%;
  min-height: auto;
  border: 2px solid;
  color: rgb(156, 156, 156);
  border-radius: 5px;
  resize: none;
}

button {
  background-color: rgb(0, 130, 250);
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  text-decoration: none;
  padding: 0px;
  margin: 24px;
  height: 40px;
  width: 96px;
  cursor: pointer;
  transition: .1s;
  &:hover {
    background-color: rgb(0, 112, 204);
  }
}

.result__sku {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding: 0;
  align-items: center;
  list-style-type: none;
}