$x-kom-light-blue-color: rgb(15, 210, 255);
$x-kom-blue-color: rgb(0, 130, 250);
$x-kom-light-violet-color: rgb(195, 130, 250);
$x-kom-violet-color: rgb(130, 80, 250);
$x-kom-light-pink-color: rgb(190, 0, 100);
$x-kom-pink-color: rgb(250, 0, 100);
$x-kom-blue-color-hover: rgb(0, 112, 204);

$light-color: #fff;
$black-color: rgba(0, 0, 0, 0.189);
$dark-color: rgb(39, 39, 39);
$grey-color: rgb(128, 128, 128);
$light-grey-color: rgb(215, 215, 215);

$shadow: rgb(0, 0, 0) 2px 4px 8px -4px;

$font-text: 'Lato', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

//

body {
  margin: 0 auto;
  color: $dark-color;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  font-family: $font-text;
  transition: 0.3s;
}

header {
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 64px;
  z-index: 1;
  background-color: rgb(245, 245, 245);
  box-shadow: $shadow;
}

header h1 {
  color: $dark-color;
  font-family: 'Gruppo', cursive;
  font-size: 20px;
  position: relative;
  margin: auto 54px;
}

header button {
  background-color: $grey-color;
  border: solid 4px $light-color;
  border-radius: 50px;
  cursor: pointer;
  height: 25px;
  width: 40px;
  outline-width: 5px;
  position: relative;
  margin: auto 54px;
  transition: 0.3s;
  &:hover {
    background-color: $grey-color;
  }
}

.icon {
  background-color: $light-color;
  border-radius: 100%;
  content: "";
  display: block;
  height: 10px;
  margin: 0 4px;
  position: relative;
  width: 10px;
  transition: background-color 0.3s, transform 0.3s;
}

main {
  margin: 120px 0;
}

.tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tool {
  position: relative;
  margin: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33em;
  background-color: rgb(245, 245, 245);
  height: min-content;
  border-radius: 5px;
  box-shadow: $shadow;
}

h1 {
  font-size: 18px;
}

textarea,
input {
  padding: 12px 20px 86px;
  width: 80%;
  border: .3px solid;
  color: $grey-color;
  border-radius: 4px;
  font-family: $font-text;
  resize: none;
}

input {
  padding: 12px 20px 12px;
}

textarea::-webkit-scrollbar {
  display: none;
}

.buttons {
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

button {
  background-color: $x-kom-blue-color;
  font-size: 14px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 9px;
  text-decoration: none;
  padding: 0;
  margin: 24px 3px;
  height: 40px;
  width: 96px;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: $x-kom-blue-color-hover;
  }
}

.sku_and_copy {
  flex-wrap: nowrap;
}

.clear {
  position: absolute;
  top: 48px;
  transform: translateX(172px);
  cursor: pointer;
  font-size: 22px;
  background-color: transparent;
  color: $grey-color;
  font-family: 'Gruppo', cursive;
  margin: 5px;
  height: 20px;
  width: 20px;
  &:hover {
    background-color: transparent;
    color: black;
  }
}

.result {
  display: flex;
  flex-direction: column;
}

.copy {
  font-size: 16px;
  margin: 0;
  width: 36px;
}

.no_active {
  background-color: $light-grey-color;
  cursor: default;
  &:hover {
    background-color: $light-grey-color;
  }
}

.copied {
  color: $grey-color;
}

.selected::selection {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: $x-kom-blue-color;
}

footer {
  height: 34px;
  background-color: $dark-color;
  color: $light-color;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}

footer p,
a {
  margin: 0 54px;
}

footer a {
  color: $light-color;
  margin: 0;
  &:hover {
    color: $x-kom-pink-color;
  }
}

//DARK MODE

.dark {
  color: $light-color;
  background-color: $dark-color;
}

.dark button {
  background-color: $x-kom-light-blue-color;
  color: $dark-color;
}

.dark header {
  background-color: $black-color;
}

.dark header h1{
  color: $light-color;
}

.dark header button {
  border: solid 4px rgb(32, 32, 32);
  &:hover {
    background-color: $x-kom-light-blue-color;
  }
}

.dark .icon {
  background: $dark-color;
  transform: translateX(14px);
}

.dark .tool{
  background-color: $black-color;
}

.dark input,
.dark textarea {
  color: $light-color;
  background-color: $dark-color;
  color: $grey-color;
}

.dark input:focus, textarea:focus {
  outline: none;
  border-color: $ /* zmienia kolor obramowania */
  box-shadow: 0 0 5px dodgerblue; /* dodaje cień do elementu */
}


.dark footer {
  background-color: $black-color;
}

.dark .clear {
  background-color: transparent;
  color: $grey-color;
  &:hover {
    background-color: transparent;
    color: $light-color;
  }
}

.dark .no_active {
  background-color: $grey-color;
  cursor: default;
  &:hover {
    background-color: $grey-color;
  }
}